.divReg select,
.localRetirada
{
	padding: 3px;
	background-color: transparent;
	border: none;
	/*border: 1px solid #ccc;
	border-radius: 10px;*/
}

.tabAplicacoes,
.tabRetiradas
{
	border-right: 1px solid #ccc;
	border-top: 1px solid #ccc;
}
.tabAplicacoes th th,
.tabRetiradas tr th
{
	min-width: 110px;
}
.tabAplicacoes tr td,
.tabAplicacoes tr th,
.tabRetiradas tr td,
.tabRetiradas tr th
{
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.tabAplicacoes tr td,
.tabAplicacoes tr th,
.tabRetiradas tr td,
.tabRetiradas tr th
{
	padding: 3px;
}

.tabAplicacoes tr th
{
	min-width: 110px;
}

.thRetiLocal,
.thApliLocal
{
	width: 200px;
}

.soma
{
	margin: 0px 0px 0px 10px;
}
.pDatApli
{
	width: 120px;
	text-align: center;
	padding: 5px 0px 5px 0px;
	margin: 0px;
}
.linkDatApli
{
	display: block;
	padding: 2px 0px 2px 0px;
}
.linkDatApli:hover
{
	background-color: #89caff;
	text-decoration: none;
	border-radius: 10px;
}
