.menuLista
{

}
.menuLista ul
{
	padding: 0px;
	margin: 0px;
	list-style: none;
}
#formFiltro .divReg
{
	float: left;
	line-height: 24px;
}

#formFiltro .divReg label
{
	display: block-inline;
	min-width: 140px;
	text-align: right;
	margin: 0px 3px 0px 0px;
}
#formFiltro .divReg .FiltroData_fim
{
	width: 152px;
}
#formFiltro select
{
	border: 1px solid #ccc;
	padding: 3px;
	background-color: transparent;
	border-radius: 10px;
}
.barra
{
}
.lista
{
	margin: 10px 0px 0px 0px;
}
.lista table tr th
{
	text-align: center;
	background-color: #bab4b4;
}

.lista .liAtiva
{
	background-color: #eee;
}

.lista .tdRetiradaReti_qtd,
.lista .tdAplicacaoApli_qtd
{
	text-align: center;
}

.lista table
{
	border-right: 1px solid #ccc;
	border-top: 1px solid #ccc;
}

.lista table tr th,
.lista table tr td
{
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.lista table tr th,
.lista table tr td
{
	padding: 3px;
}

.listaRod
{
	text-align: center;
}

.lista .btLista:hover
{
	cursor: pointer;
}