@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400);
body
{
	font-family: "Ubuntu", arial, times;
	background-color: #ddd;
	background: url(../img/bg.jpg); 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.navbar
{
 height: 60px;
 background:  rgba(0, 0, 0, 0.68);
}

.navbar-brand
{
  color: #fff !important;
}

.navbar-default .navbar-nav>li>a
{
  color: #fff !important;
}
.navbar-default .navbar-nav>li>a:hover
{
	background-color: #505050;
}

.pagina
{
	margin-top: 60px;
	padding: 15px 0px 0px 0px;
	background-color: #fff;
	min-height: 1000px;
}
.titPagina
{
	color: #fff;
}
.erros
{
	color: red;
	padding: 0px 0px 10px 0px;
}

.erros table td,
.sqls table td
{
	padding: 5px;
	font-size: 10px;
	font-family: verdana;
	background-color: #fff;
}
.ativa
{
	background-color: #eee;
}

.msg_erro
{
	text-align: center;
	color: red;
}

#msgFlash
{
	position: absolute;
	text-align: center;
	line-height: 30px;
	width: 600px;
	left: 50%;
	margin-left: -300px;
	z-index: 9000;
	top: 32px;
	border-radius: 10px;
	/*color: #333;*/
}
.msgOk
{
	/*background-color: #9af9b5;*/
	color: #4fd155;
	font-weight: bold;
	font-size: 16px;
}

.msgErro
{
	/*background-color: red;*/
	color: red;
	font-weight: bold;
	font-size: 14px;
}

.ulOptions 
{
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.ulOptions li:hover
{
	cursor: pointer;
	background-color: #ddd;
}

.liAtiva
{
	background-color: #eee;
}
.navbar-brand
{
  margin-top: -5px;
}
.botao
{
	min-width: 90px;
	height: 40px;
	line-height: 40px;
	border: 0px;
	/*border: 1px solid #ccc;*/
	border-radius: 5px;
	background-color: transparent;
	font-size: 16px;
	padding: 0px 15px 0px 20px;
	color: #5E5E5E;
	background-position: 10px center;
    background-repeat: no-repeat;
    padding-left: 30px;
}
.botao:hover
{
	background-color: #89CAFF;
	color: #fff;
}
#btSalvar
{
	background-image: url("../img/bt_salvar.png");
}
#btEditar
{
	background-image: url("../img/bt_editar.png");
}
#btExcluir
{
	background-image: url("../img/bt_excluir.png");
}
#btFechar
{
	background-image: url("../img/bt_fechar.png");
}
#btNovo
{
	background-image: url("../img/bt_novo.png");
}
#btAplicacoes
{
	background-image: url("../img/bt_aplicacoes.png");
}
#btEnviar
{
	background-image: url("../img/bt_enviar.png");
}
#btExportar
{
	background-image: url("../img/bt_exportar.png");
}
#btCancelar
{
	background-image: url("../img/bt_cancelar.png");
}

.btsRedeSocial
{
	/*background-color: #ddd;*/
	position: absolute;
	top: 45px;
	left: 140px;
	min-width: 300px;
	z-index: 9001;
}
.bt_twitter
{
/*	background-color: #ddd;*/
}
