@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400);
body
{
	 /*background-image: url("../img/bg.png");*/
	 font-family: "Ubuntu", arial, times;
	 background-color: #ddd;
}
.navbar
{
	border-bottom: 3px solid #aaa;
}
.pagina
{
	margin-top: 50px;
	padding: 15px 0px 0px 0px;
	background-color: #fff;
	min-height: 1000px;
}
.titPagina
{
	color: #5E5E5E;
}
.erros
{
	color: red;
	padding: 0px 0px 10px 0px;
}

.erros table td,
.sqls table td
{
	padding: 5px;
	font-size: 10px;
	font-family: verdana;
	background-color: #fff;
}
.ativa
{
	background-color: #eee;
}

.msg_erro
{
	text-align: center;
	color: red;
}

#msgFlash
{
	position: absolute;
	text-align: left;
	line-height: 50px;
	width: 500px;
	top: 0px;
	left: 140px;
	z-index: 9000;
	background-color: #f8f8f8;
}
.msgOk
{
	/*background-color: green;*/
	color: green;
	font-weight: bold;
	font-size: 16px;
}

.msgErro
{
	/*background-color: red;*/
	color: red;
	font-weight: bold;
	font-size: 16px;
}

.ulOptions 
{
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.ulOptions li:hover
{
	cursor: pointer;
	background-color: #ddd;
}

.liAtiva
{
	background-color: #eee;
}